<div class="top-bar">
  <div class="logo">
    <img src="assets/Nexcent_logo.svg" alt="Nexcent" />
  </div>
  <div class="navigation">
    <a href="#">Home</a>
    <a href="#">Service</a>
    <a href="#">Feature</a>
    <a href="#">Product</a>
    <a href="#">Testimonial</a>
    <a href="#">FAQ</a>
  </div>
  <div class="auth-buttons">
    <button class="login-btn">Login</button>
    <button class="sign-up-btn">Sign up</button>
  </div>
</div>
<div class="hero-section">
  <div class="hero-section-body">
    <div class="body-text">
      <div>
        <div class="title">
          <span class="text-black">Lessons and insights </span>
          <span class="text-green">from 8 years</span>
        </div>
        <div class="description">
          Where to grow your business as a photographer: site or social media?
        </div>
      </div>
      <button class="register-btn">Register</button>
    </div>
    <img src="assets/hero-Illustration.svg" alt="Hero illustration" />
  </div>
</div>
