<div class="product-section">
  <div class="image-container">
    <img src="assets/authentication.svg" alt="" />
  </div>
  <div class="product-description-container">
    <div class="title-container">
      <div class="title">The unseen of spending three years at Pixelgrade</div>
      <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet
        justo ipsum. Sed accumsan quam vitae est varius fringilla. Pellentesque
        placerat vestibulum lorem sed porta. Nullam mattis tristique iaculis.
        Nullam pulvinar sit amet risus pretium auctor. Etiam quis massa
        pulvinar, aliquam quam vitae, tempus sem. Donec elementum pulvinar odio.
      </div>
    </div>
    <button class="learn-more-btn">Learn More</button>
  </div>
</div>
