<div class="achievements-section">
  <div class="heading-section">
    <div class="title">
      <span class="text-black">Helping a local </span>
      <span class="text-green">business reinvent itself</span>
    </div>
    <div>We reached here with our hard work and dedication</div>
  </div>
  <div class="counts-section">
    <div class="counts-row">
      <div class="count-container">
        <img src="assets/members_count.png" alt="Members" />
        <div>
          <h3>2,245,341</h3>
          <div class="count-title">Members</div>
        </div>
      </div>
      <div class="count-container">
        <img src="assets/clubs_count.png" alt="Clubs" />
        <div>
          <h3>46,328</h3>
          <div class="count-title">Clubs</div>
        </div>
      </div>
    </div>
    <div class="counts-row">
      <div class="count-container">
        <img src="assets/bookings_count.svg" alt="Event Bookings" />
        <div>
          <h3>828,867</h3>
          <div class="count-title">Event Bookings</div>
        </div>
      </div>
      <div class="count-container">
        <img src="assets/payments_count.svg" alt="Payments" />
        <div>
          <h3>1,926,436</h3>
          <div class="count-title">Payments</div>
        </div>
      </div>
    </div>
  </div>
</div>
