<div>
  <app-hero-section></app-hero-section>
  <app-client-section></app-client-section>
  <app-community-section></app-community-section>
  <app-product-section [productDetails]="productDetails1"></app-product-section>
  <app-achievements-section></app-achievements-section>
  <app-product-section [productDetails]="productDetails2"></app-product-section>
  <app-testimonial-section></app-testimonial-section>
  <app-community-update-section></app-community-update-section>
  <app-footer-section></app-footer-section>
</div>
